body {
    background-color: rgb(81, 199, 187);
}
.block {
    position: absolute;
}
.block_1 {
    left: 30px;
    top: 500px;
}
.block_2 {
    left: 180px;
    top: 500px;
}
.block_3 {
    left: 330px;
    top: 500px;
}
.block_4 {
    left: 480px;
    top: 500px;
}
.block_5 {
    left: 630px;
    top: 500px;
}
.block_6 {
    left: 780px;
    top: 500px;
}
.block_7 {
    left: 930px;
    top: 500px;
}
.block_8 {
    left: 1080px;
    top: 500px;
}
.block_9 {
    left: 330px;
    top: 350px;
}
.block_10 {
    left: 780px;
    top: 250px;
}
.block_11 {
    left: 930px;
    top: 250px;
}
.mario {
    position: absolute;
    width: 150px;
    box-sizing: border-box;
    top: 405px;
    left: 50px;
    animation: mario 5s linear infinite;
}
@keyframes mario{
    23% {left: 305px; top: 405px;} 
    26% {left: 315; top: 225px;}
    31% {left: 400px; top:225px;}
    32% {left: 400px; top: 230px;}
    33% {left: 400px; top: 255px;}
    37% {left:485px; top:255px;}
    40% {left: 490px; top:405px;}
    50% {left: 740px; top:405px;}
    55% {left: 760px; top:155px;}
    85% {left: 1100px; top:155px;}
    90% {left: 1105px; top: 405px;}
    100% {left: 1205px; top: 405px;}
}













































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































